# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Harvey Shan\Documents\4. LaiOffer234\ComunityManagement\CommunityManagement\community-property-mgmt-system\community-property-mgmt-system-frontend\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
